# Runs all smoke tests individually to refill caches after a change to how caching works.
name: Cache all (SLOW!)

on:
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      # Running serially since GitHub API doesn't like concurrent requests.
      max-parallel: 1
      fail-fast: false
      # Using a matrix so if 1 fails it can just be retried instead of restarting the whole job.
      matrix:
        suite:
          - { path: tests/smoke-actions.yaml, name: actions }
          - { path: tests/smoke-bundler.yaml, name: bundler }
          - { path: tests/smoke-bundler-grouped.yaml, name: bundler-grouped }
          - { path: tests/smoke-cargo.yaml, name: cargo }
          - { path: tests/smoke-composer.yaml, name: composer }
          - { path: tests/smoke-docker.yaml, name: docker }
          - { path: tests/smoke-elm.yaml, name: elm }
          - { path: tests/smoke-go.yaml, name: go }
          - { path: tests/smoke-go-close-pr.yaml, name: go-close }
          - { path: tests/smoke-go-security.yaml, name: go-security }
          - { path: tests/smoke-go-update-pr.yaml, name: go-update }
          - { path: tests/smoke-gradle.yaml, name: gradle }
          - { path: tests/smoke-gradle-version-catalog.yaml, name: gradle-version-catalog }
          - { path: tests/smoke-hex.yaml, name: hex }
          - { path: tests/smoke-maven.yaml, name: maven }
          - { path: tests/smoke-npm.yaml, name: npm }
          - { path: tests/smoke-npm-remove-transitive.yaml, name: npm-remove-transitive }
          - { path: tests/smoke-nuget.yaml, name: nuget }
          - { path: tests/smoke-pip.yaml, name: pip }
          - { path: tests/smoke-pip-compile.yaml, name: pip-compile }
          - { path: tests/smoke-pipenv.yaml, name: pipenv }
          - { path: tests/smoke-poetry.yaml, name: poetry }
          - { path: tests/smoke-pub.yaml, name: pub }
          - { path: tests/smoke-submodules.yaml, name: submodules }
          - { path: tests/smoke-terraform.yaml, name: terraform }
          - { path: tests/smoke-yarn.yaml, name: yarn }
          - { path: tests/smoke-yarn-berry.yaml, name: yarn-berry }
          - { path: tests/smoke-yarn-berry-workspaces.yaml, name: yarn-berry-workspaces }
    steps:
      - uses: actions/checkout@v3

      - name: Download CLI
        run: |
          gh release download --repo dependabot/cli -p "*linux-amd64.tar.gz"
          tar xzvf *.tar.gz >/dev/null 2>&1
          ./dependabot --version

      # Not downloading the cache first, this job is to bust the cache for all ecosystems.
      - name: Smoke ${{ matrix.suite.name }}
        env:
          LOCAL_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./dependabot test -f=${{ matrix.suite.path }} --cache=cache

      - uses: actions/upload-artifact@v3
        with:
          name: cache-${{ matrix.suite.name }}
          path: cache/
