name: Smoke test manifest
on: workflow_dispatch

permissions:
  contents: read

jobs:
  body-moving:
    name: This is a smoke test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
      - name: Setup Ruby
        uses: actions/setup-ruby@e932e7af67fc4a8fc77bd86b744acd4e42fe3543
      - name: Setup Node
        uses: actions/setup-node@v4
