# Runs all ecosystems cached and concurrently.
name: Smoke

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 * * * *"

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  smoke:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite:
          - actions
          - bundler
          - bundler-grouped
          - bundler-group-rules
          - cargo
          - composer
          - docker
          - elm
          - go
          - go-close-pr
          - go-security
          - go-update-pr
          - gradle
          - gradle-version-catalog
          - hex
          - maven
          - npm
          - npm-remove-transitive
          - nuget
          - pip
          - pip-compile
          - pipenv
          - poetry
          - pub
          - submodules
          - terraform
          - yarn
          - yarn-berry
          - yarn-berry-workspaces
    steps:
      - uses: actions/checkout@v3

      - name: Download CLI
        run: |
          gh release download --repo dependabot/cli -p "*linux-amd64.tar.gz"
          tar xzvf *.tar.gz >/dev/null 2>&1
          ./dependabot --version

      # Download the Proxy cache. The job is ideally 100% cached so no real calls are made.
      - name: Download artifacts
        run: script/download-cache.sh ${{ matrix.suite }}

      - name: ${{ matrix.suite }}
        env:
          LOCAL_GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -o pipefail
          ./dependabot test -f=tests/smoke-${{ matrix.suite }}.yaml -o=result.yaml --timeout 20m --cache=cache 2>&1 | tee -a log.txt

      - name: Diff
        if: always()
        continue-on-error: true
        run: diff --ignore-space-change tests/smoke-${{ matrix.suite}}.yaml result.yaml && echo "Contents are identical" || exit 0

      - name: Create summary
        run: tail -n100 log.txt | grep -P '\d+/\d+ calls cached \(\d+%\)' >> $GITHUB_STEP_SUMMARY

    # No upload at the end:
    # - If a test is uncachable in some regard, the cache would grow unbound.
    # - We might want to consider erroring if the cache is changed.
